body::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: conic-gradient(
    from 0deg at 50% 50%,
    rgb(69, 85, 233) 0deg,
    rgb(34, 21, 132) 60deg,
    rgb(128, 110, 200) 120deg,
    rgb(49, 19, 146) 180deg,
    rgba(61, 25, 180, 0.286) 240deg,
    rgb(64, 52, 119) 300deg,
    rgb(39, 24, 39) 360deg
  );
  opacity: 0.3;
  filter: blur(200px);
  z-index: -1;
  font-family: 'GmarketSansMedium';
} 

body {
  font-family: 'Cafe24Ssurround';
  background-color: rgb(0, 0, 0);

  cursor: url("data:image/svg+xml;utf8,\
  <svg xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 48 48'>\
    <defs>\
      <filter id='neon' x='-50%' y='-50%' width='200%' height='200%'>\
        <feDropShadow dx='0' dy='0' stdDeviation='2' flood-color='%2300ffff' flood-opacity='1'/>\
        <feDropShadow dx='0' dy='0' stdDeviation='5' flood-color='%2300ffff' flood-opacity='0.7'/>\
      </filter>\
    </defs>\
    <path d='M10 10 L10 38 L38 24 Z' fill='none' stroke='%2300ffff' stroke-width='2' filter='url(%23neon)'/>\
  </svg>") 16 0, auto;
  
  
}
/* @font-face {
  font-family: 'Ownglyph_ParkDaHyun';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2411-3@1.0/Ownglyph_ParkDaHyun.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
} */

@font-face {
  font-family: 'Cafe24Ssurround';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


