

.proj-title {
    color: rgb(35, 142, 219);
    font-family: 'GmarketSansMedium';
    text-shadow:
      0 0 5px rgba(185, 168, 168, 0.7),
      0 0 10px rgba(231, 217, 217, 0.5),
      0 0 20px rgba(27, 187, 120, 0.3),
      0 0 40px rgba(18, 90, 185, 0.2);
  }



